@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*           NAV            */
nav {
  padding: 22px 30px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
}
.logoimg {
  width: calc(82.02 * 0.1vw);
  height: calc(25.35 * 0.1vw);
}
/*             HERO         */
.hero {
  width: 100%;
}
.gridimges {
  width: calc(396 * 0.18vw);
  height: calc(0.18vw * 232);
  display: block;
  margin: 20px auto 32px;
}
.down {
  margin-left: 36px;
}
.down > h1 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(36 * 0.18vw);
  line-height: 180%;
  color: #000000;
}
.down > p {
    font-family: 'Poppins',sans-serif;
    width: 380px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 110%;
    color: #222222;
}
/*               Card               */
.cards-container{
  display:flex;
  gap: 20px;
  overflow-x: auto;
}
.card{
  width:176px;
  height:max-content;
}
.container{
    position:relative;
    
}
.container>img{
    width:100%;
    border-radius: 9px;
}
.container>h4{
    position: absolute;
    top:6px;
    left:6px;
    padding: 5px 6px 4px;
    background-color: aliceblue;
    border-radius: 2px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 110%;
    text-align: center;
    color: #222222;
}
.desc-title{
  display:flex;
}
.desc-title>img{
  width: 14px;
  height: 14px;
}
.desc-title>span{
display: block;
padding-left: 2px;
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 110%;
color: #918E9B;
}
.desc-title>span:first-of-type{
  color: #222222;
}
.desc-details>p{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;  
  color: #222222;
}
.desc-details>h4{
  font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 110%;
color: #222222;
}
.desc-details>h4>span{
  font-weight: 300; 
}
